header {
    background-color: #D97904;
     text-transform: capitalize;
     text-align: center;
     color: white;
     border-radius: 10px;
     padding-top: 7px;
     margin-top: 10px;

}
header , nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
header , nav , li{
    margin: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
li , nav {
   list-style: none; 
}
body {
    background-color: #dbd4d4;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}
a:hover {
    opacity: 1;
}
.flex_space{
    display: flex;
    
}
.flex_1{
    margin: 10px;
}
.flex_2{
    text-align: center;
}
img{
    border-radius: 10px;
}
